include Mixins

mixin LinkTopParent(config)
  - var config = Object.assign({}, config)
  - var { url, icon, text, badge, hasHash, isDisabled } = config;
  - var href = hasHash ? text!=='modal' ? `${CWD}${url}.html` : `${CWD}${url}` : url 
  a.nav-link(
    href=href
    class=isDisabled ? 'nav-link-disable' :  href.includes(pathName) ? 'active' : false
  )&attributes(attributes)
    .d-flex.align-items-center
      if icon
        span.nav-link-icon
          span(class=icon)
      span.nav-link-text.ps-1
        +cleanText(text)
      if badge
        span.badge.rounded-pill.ms-2(class=`badge-soft-${badge.type}`)=badge.text



mixin PageLooper(page,label, depth = 0)
  if page.pages
    ul.nav.collapse(class=`${pageTree[depth + 1] === page.name.replace('_and_', 'and').toLowerCase() ? 'show': false}` id=page.name)
      each innerPage in page.pages
        li.nav-item
          +LinkTopParent({
            url: innerPage.pages ? `#${innerPage.name}`:`${innerPage.path}`,
            text: innerPage.name,
            badge: innerPage.badge,
            icon: innerPage.icon,
            isDisabled: innerPage.disabled,
            hasHash: innerPage.pages ? false: true,
          })(
            class= innerPage.pages ? 'dropdown-indicator': false
            data-bs-toggle=innerPage.pages? "collapse" : innerPage.name ==="modal" ? 'modal': false
            aria-expanded=innerPage.pages && `${pageTree[depth + 2] === innerPage.name.replace('_and_', 'and').toLowerCase()}`
            aria-controls=innerPage.pages && page.name
          )
          // more inner pages
          +PageLooper(innerPage,label, depth + 1)


mixin Looper(sitemap)
  each item, index in sitemap
    li.nav-item
      if item.label && !item.labelDisabled
        // label
        .row.navbar-vertical-label-wrapper(class=`${index > 0 ? "mt-3 mb-2" : "mb-2"}`)
          .col-auto.navbar-vertical-label
            +cleanText(`${item.label}`)
          .col.ps-0
            hr.mb-0.navbar-vertical-divider

      if item.pages
        each page in item.pages
          // parent pages
          +LinkTopParent({
            url: page.pages ? `#${page.name}`: `${page.path}`,
            icon: page.icon,
            text: `${page.name}`,
            badge: page.badge, 
            hasHash: page.pages? false: true, 
            isDisabled: page.disabled
          })(
            role="button"
            class= page.pages? 'dropdown-indicator': false
            data-bs-toggle=page.pages? "collapse" : page.name ==="modal" ? 'modal': false
            aria-expanded=page.pages && `${(pageTree[1] === page.name  && pageTree[0] === item.label) || page.pages.some(item=>item.path === pageTree.join('/')) ? true: false }`
            aria-controls=page.pages && page.name
          )
          //- data-bs-target=page.name==="modal" && "#authentication-modal"
          +PageLooper(page,item.label)


mixin NavbarVertical(config)
  - var config = Object.assign({comboNav: false}, config)
  nav.navbar.navbar-light.navbar-vertical.navbar-expand-xl&attributes(attributes)
    script.
      var navbarStyle = localStorage.getItem("navbarStyle");
      if (navbarStyle && navbarStyle !== 'transparent') {
        document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
      }

    .d-flex.align-items-center
      .toggle-icon-wrapper
        +NavbarToggleIcon.navbar-vertical-toggle(data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation")
      +NavbarBrand({ wrapperClass: 'py-3'})
    #navbarVerticalCollapse.collapse.navbar-collapse
      .navbar-vertical-content.scrollbar
        ul.navbar-nav.flex-column.mb-3#navbarVerticalNav
          +Looper(sitemap)

        .settings.mb-3
          .card.alert.p-0.shadow-none(role="alert")
            .btn-close-falcon-container
              .btn-close-falcon(aria-label="Close" data-bs-dismiss="alert")
            .card-body.text-center
              img(src=`${CWD}assets/img/icons/spot-illustrations/navbar-vertical.png`, alt="" width=80)
              p.fs--2.mt-2 Loving what you see? 
                br 
                | Get your copy of 
                a(href="#!") Falcon
              .d-grid
                a(href=`https://themes.getbootstrap.com/product/falcon-admin-dashboard-webapp-template/` target="_blank").btn.btn-sm.btn-purchase
                  | Purchase
